node-red-data/.flows.json.backup
[{"id":"1097440f.3027cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d80d4b56.406dd8","type":"mqtt-broker","z":"","name":"black-pearl","broker":"mosquitto-arm","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"M18/node-red","birthQos":"0","birthRetain":"true","birthPayload":"alive","closeTopic":"M18/node-red","closeQos":"0","closeRetain":"true","closePayload":"disconnecting","willTopic":"M18/node-red","willQos":"0","willRetain":"true","willPayload":"unexpected disconnection"},{"id":"aff3585.d71bea8","type":"mqtt in","z":"1097440f.3027cc","name":"Receive Environment Data","topic":"M18/Environment","qos":"0","broker":"d80d4b56.406dd8","x":124.5,"y":207,"wires":[["6cfdf8b1.c83258","22b0cbb6.cd168c"]]},{"id":"6cfdf8b1.c83258","type":"debug","z":"1097440f.3027cc","name":"debug mqtt message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":582.5,"y":68,"wires":[]},{"id":"22b0cbb6.cd168c","type":"function","z":"1097440f.3027cc","name":"convert payload to json","func":"\nconst environmentStringToObject = (message) => {\n    const seperated = message.split('|')\n        .filter(v => Boolean(v)); // filter out dummy values\n    \n    const toValue = (value) => {\n        const intValue = parseInt(value);\n        if (isNaN(intValue) || value === '-1') {\n            return -1;\n        }\n        return intValue/100;  \n    };\n    \n    const returnValue = {\n        timeStamp: new Date().getTime(),\n        node: seperated[0],\n        messageIndex: parseInt(seperated[1]),\n        primary_temperature: toValue(seperated[2]),\n        humidity: toValue(seperated[3]),\n        light_intensity: parseInt(seperated[4]),\n        batt: toValue(seperated[5]),\n        secondary_temperature: toValue(seperated[6]),\n        pressure: toValue(seperated[7]),\n    };\n    return returnValue\n}\n\nconst payload = environmentStringToObject(msg.payload);\n\nreturn { \n    topic: `M18/Environment/${payload.node}`,\n    qos: 0,\n    retain: false,\n    payload: payload};","outputs":1,"noerr":0,"x":377.5,"y":234,"wires":[["cc4af057.6f1f18","eb9a7af0.82f548"]]},{"id":"cc4af057.6f1f18","type":"debug","z":"1097440f.3027cc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":644.5,"y":137,"wires":[]},{"id":"eb9a7af0.82f548","type":"mqtt out","z":"1097440f.3027cc","name":"Expose Environment Json","topic":"","qos":"","retain":"","broker":"d80d4b56.406dd8","x":660.5,"y":424,"wires":[]},{"id":"4bed980b.07a06","type":"inject","z":"1097440f.3027cc","name":"","topic":"test/data","payload":"B9FC4586|18874|2760|4020|75|-1|2877|9572801","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168.5,"y":62,"wires":[["22b0cbb6.cd168c"]]}]